@import 'reset.css';

html, body, main {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

body {
  background-blend-mode: multiply;
  background-color: #333;
  background-image: url('../assets/images/background.png');
  background-position: center;
}

main {

}

header {
  display: flex;
  flex-direction: column;
    align-items: center;
    justify-content: center;
  padding: 20px;
  position: absolute;
    top: 0;
    left: 0;
    right: 0;
  width: 100%;
}

header > h1 {
  color: white;
  font-family: 'Codystar', cursive;
  font-size: 48px;
  letter-spacing: 20px;
}

header > h2 {
  color: #DDD;
  font-family: 'VT323', monospace;
  font-size: 24px;
  letter-spacing: 5px;
  margin-top: 20px;
}

.game-meters {
  padding: 20px;
  position: absolute;
    left: 20;
    top: 20;
}

.energy-meter-bar {
  background-color: #FFF;
  border-radius: 5px;
  display: block;
  overflow: hidden;
  width: 200px;
  height: 10px;
}

.energy-level {
  background-color: #95d67e;
  height: 10px;
}

.meter-label {
  color: #fff;
  display: block;
  font-family: 'VT323';
  margin-top: 5px;
  text-align: right;
}

footer {
  display: flex;
  justify-content: center;
  padding: 20px;
  position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

footer > a {
  color: #DDD;
  font-family: 'Codystar', cursive;
  font-size: 24px;
  margin: 0px 20px;
  text-decoration: none;
  transition: 0.25s;
}

footer > a:hover {
  color: #FFF;
  letter-spacing: 10px;
}
